<link REL="STYLESHEET" TYPE="text/css" HREF="css/main.css">
<link REL="STYLESHEET" TYPE="text/css" HREF="css/normalize.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/stuff.js"></script>


<div class="container">
  <table class="racer_table">
  
  <tr id="player1_strip" data-player-id="<%=@player1.id%>">
    
    <td><img src="nelsol_dragon.jpg" style="height: 200px"></td>
    <td class="active" id="1"><%= @player1.name %></td>
    <td><%= @player1.name %></td>
    <td><%= @player1.name %></td>
    <td><%= @player1.name %></td>
    <td><%= @player1.name %></td>
    <td class="end1!"><%= @player1.name %></td>
  </tr>
  
  <tr id="player2_strip" data-player-id="<%=@player2.id%>">
    
    <td><img src="jake_dragon2.jpg" sty="height: 200px"></td>
    <td class="active"><%= @player2.name %></td>
    <td><%= @player2.name %></td>
    <td><%= @player2.name %></td>
    <td><%= @player2.name %></td>
    <td><%= @player2.name %></td>
    <td class="end2!"><%= @player2.name %></td>
  </tr>
</table>

<h1>LOOK AT THEM.</h1>
<h3>(they're bootiful!) :D</h3>
<form id="winner_form" method="post" action="/winner">
  <input id="winner" type="hidden" data-winner-id="winner goes here">
  <input type="submit" value="submit">
</form>
</div>

